# Dependencies
node_modules
.pnpm-store
.npmrc

# Build
dist
.nuxt
.output
build
src/**/*.js
src/**/*.js.map

# Cache
.cache
.eslintcache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
*.pem
.idea
.fleet

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.*
!.env.example

# Nuxt specific
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify
.nitro
*.manifest
manifest/
public/_nuxt/
latest.json
nitro.json
nitro.mjs
tsconfig.json
playground/nuxt/.nuxt/
playground/nuxt/.output/
playground/nuxt/manifest/
playground/nuxt/public/_nuxt/
playground/nuxt/.nuxt/**/*
playground/nuxt/.output/**/*
**/builds/
**/chunks/
**/*.manifest.json
**/manifest/meta/
**/manifest/latest.json

# Testing
coverage
*.lcov
.nyc_output
reports

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Temp
.temp
.tmp

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
